@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



body{
    
        font-family: "Mulish", sans-serif;
}
 
* {
    margin: 0;
}





.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

/* shared style  */

h3{
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

    p,
    li {
        font-size: 18px;
        font-weight: normal;
        line-height: normal;
        text-align: center;
    }
    
/* navbar related styles */
.span{
    color: rgb(255, 84, 0) 
}



.nav-bar{
    display: flex;
    justify-content: space-between;align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    width: 280px;
}

.logo img{
    width:48px;
    height: 56px;
    margin-right: 8px;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.nav-options p{
    cursor: pointer;
}

/* banner style  */

.explore-container {
    /* linear-gradien: (180deg, rgba(19, 19, 24, 0.8) 0%,  rgba(19, 19, 24, 0.8) 100%); */
        
        
   background-image:
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    padding: 7rem 0;background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
   
}

.travel-inputs{
    display: flex; 
    justify-content: center;
    align-items: center; 
}




